<?xml version="1.0"?>
<configuration>
  <startup>
  </startup>
  <appSettings>
<!--Vars -->
    <add key="MaxJobsAtaTime" value="10"/>
    <add key="ResolveHostIP" value="FALSE"/>
    <add key="CheckOpenPorts" value="FALSE"/>
    <add key="CheckRemoteCShareAccesible" value="FALSE"/>
    <add key="CheckRemoteWorkingDirectory" value="FALSE"/>
    <add key="DeletePayloadAfterEnd" value="TRUE"/>
    <add key="OverwritePayloadIfExists" value="TRUE"/>
    <add key="KillProcessIfAlreadyRunning" value="TRUE"/>
    <add key="ScanAllDrives" value="TRUE"/>
    <add key="LimitDriveSize" value="TRUE"/>
    <add key="MaxAllowableDriveSizeBytes" value="322122547201"/>
    <add key="MaxErrorsPerExecution" value="1000"/>
    <add key="MaxFileSizeToScanKB" value="1000"/>
  </appSettings>
</configuration>